apiVersion: v1
kind: Pod
metadata:
  labels:
    app: awx-pod
  name: awx-pod
spec:
  containers:
  - command:
    - /bin/sh
    - -c
    - /usr/bin/launch_awx.sh
    name: awxweb
    image: {{ awx_docker_actual_image }}
    env:
    - name: HOSTNAME
      value: {{ awx_web_hostname }}
    - name: HOME
      value: /var/lib/awx
    - name: http_proxy
      value: {{ http_proxy | default('') }}
    - name: https_proxy
      value: {{ https_proxy | default('') }}
    - name: no_proxy
      value: {{ no_proxy | default('') }}
    resources: {}
    securityContext:
      allowPrivilegeEscalation: true
      capabilities: {}
      privileged: false
      readOnlyRootFilesystem: false
      runAsUser: 0
    volumeMounts:
    - mountPath: /var/run/supervisor
      name: awx-supervisor-socket
    - mountPath: /var/run/awx-rsyslog/
      name: awx-rsyslog-socket-dir
    - mountPath: /var/lib/awx/rsyslog/
      name: awx-rsyslog-config-dir
    - mountPath: /etc/nginx/nginx.conf
      name: awx-nginx.conf
      readOnly: true
    - mountPath: /etc/tower/SECRET_KEY
      name: awx-SECRET_KEY
      readOnly: true
    - mountPath: /etc/tower/conf.d/environment.sh
      name: awx-environment.sh
      readOnly: true
    - mountPath: /etc/tower/conf.d/credentials.py
      name: awx-credentials.py
      readOnly: true
    - mountPath: /var/run/redis
      name: awx-redis_socket
{% if project_data_dir is defined %}
    - mountPath: /var/lib/awx/projects
      name: awx-project-dir
{% endif %}
{% if custom_venv_dir is defined %}
    - mountPath: "{{ custom_venv_dir }}"
      name: awx-custom-venv-dir
{% endif %}
{% if ca_trust_dir is defined %}
    - mountPath: /etc/pki/ca-trust/source/anchors
      name: awx-ca-trust-dir
      readOnly: true
{% endif %}
{% if ssl_certificate is defined %} 
    - mountPath: /etc/nginx/awxweb.pem
      name: awx-ssl_certificate
      readOnly: true
{% endif %}
{% if ssl_certificate_key is defined %}
    - mountPath: /etc/nginx/awxweb_key.pem
      name: awx-ssl_certificate_key
      readOnly: true
{% endif %}
    workingDir: /
  - command:
    - /usr/bin/launch_awx_task.sh
    name: awxtask
    image: {{ awx_docker_actual_image }}
    env:
    - name: HOSTNAME
      value: {{ awx_task_hostname }}
    - name: HOME
      value: /var/lib/awx
    - name: https_proxy
    - name: no_proxy
    - name: SUPERVISOR_WEB_CONFIG_PATH
      value: /etc/supervisord.conf
    - name: LANG
      value: en_US.UTF-8
    - name: http_proxy
      value: {{ http_proxy | default('') }}
    - name: https_proxy
      value: {{ https_proxy | default('') }}
    - name: no_proxy
      value: {{ no_proxy | default('') }}
    resources: {}
    securityContext:
      allowPrivilegeEscalation: true
      capabilities: {}
      privileged: false
      readOnlyRootFilesystem: false
      runAsUser: 0
    volumeMounts:
    - mountPath: /etc/tower/SECRET_KEY
      name: root-.awx-SECRET_KEY
    - mountPath: /etc/tower/conf.d/environment.sh
      name: root-.awx-environment.sh
    - mountPath: /etc/tower/conf.d/credentials.py
      name: root-.awx-credentials.py
    - mountPath: /var/run/redis
      name: awx-redis_socket
{% if project_data_dir is defined %}
    - mountPath: /var/lib/awx/projects
      name: awx-project-dir
{% endif %}
{% if custom_venv_dir is defined %}
    - mountPath: "{{ custom_venv_dir }}"
      name: awx-custom-venv-dir
{% endif %}
{% if ca_trust_dir is defined %}
    - mountPath: /etc/pki/ca-trust/source/anchors
      name: awx-ca-trust-dir
      readOnly: true
{% endif %}
{% if ssl_certificate is defined %} 
    - mountPath: /etc/nginx/awxweb.pem
      name: awx-ssl_certificate
      readOnly: true
{% endif %}
{% if ssl_certificate_key is defined %}
    - mountPath: /etc/nginx/awxweb_key.pem
      name: awx-ssl_certificate_key
      readOnly: true
{% endif %}
    workingDir: /
  - command:
    - redis-server
    name: awxredis
    image: {{ redis_image }}
    env:
    - name: HOSTNAME
      value: awx-pod
    - name: http_proxy
      value: {{ http_proxy | default('') }}
    - name: https_proxy
      value: {{ https_proxy | default('') }}
    - name: no_proxy
      value: {{ no_proxy | default('') }}
    resources: {}
    securityContext:
      allowPrivilegeEscalation: true
      capabilities: {}
      privileged: false
      readOnlyRootFilesystem: false
    volumeMounts:
    - mountPath: /usr/local/etc/redis/redis.conf
      name: awx-redis.conf
      readOnly: true
      type: File
    - mountPath: /var/run/redis
      name: awx-redis_socket
    workingDir: /data
{% if pg_hostname is not defined %}
  - command:
    - postgres
    name: awxpostgres
    image: {{ postgresql_image }}
    env:
    - name: HOSTNAME
      value: awx-pod
    - name: POSTGRES_USER
      value: {{ pg_username }}
    - name: POSTGRES_PASSWORD
      value: {{ pg_password }}
    - name: POSTGRES_DB
      value: {{ pg_database }}
    - name: http_proxy
      value: {{ http_proxy | default('') }}
    - name: https_proxy
      value: {{ https_proxy | default('') }}
    - name: no_proxy
      value: {{ no_proxy | default('') }}
    - name: PGDATA
      value: /var/lib/postgresql/data
    resources: {}
    securityContext:
      allowPrivilegeEscalation: true
      capabilities: {}
      privileged: false
      readOnlyRootFilesystem: false
    volumeMounts:
    - mountPath: /var/lib/postgresql/data
      name: awx-pgcontainer-data
    workingDir: /
{% endif %}
  volumes:
  - hostPath:
      path: "{{ docker_compose_dir }}/supervisor-socket"
      type: Socket
    name: awx-supervisor-socket
  - hostPath:
      path: "{{ docker_compose_dir }}/rsyslog-socket"
      type: DirectoryOrCreate
    name: awx-rsyslog-socket-dir
  - hostPath:
      path: "{{ docker_compose_dir }}/rsyslog-config"
      type: DirectoryOrCreate
    name: awx-rsyslog-config-dir
  - hostPath:
      path: "{{ docker_compose_dir }}/pgcontainer/10/data"
      type: Directory
    name: awx-pgcontainer-data
  - hostPath:
    path: "{{ docker_compose_dir }}/redis.conf"
      type: File
    name: awx-redis.conf
  - hostPath:
    path: "{{ docker_compose_dir }}/redis_socket"
      type: Socket
    name: awx-redis_socket
  - hostPath:
      path: "{{ docker_compose_dir }}/SECRET_KEY"
      type: File
    name: awx-SECRET_KEY
  - hostPath:
    path: "{{ docker_compose_dir }}/environment.sh"
      type: File
    name: awx-environment.sh
  - hostPath:
    path: "{{ docker_compose_dir }}/credentials.py"
      type: File
    name: awx-credentials.py
  - hostPath:
    path: "{{ docker_compose_dir }}/nginx.conf"
      type: File
    name: awx-nginx.conf
{% if project_data_dir is defined %}
  - hostPath:
    path: "{{ project_data_dir }}"
      type: Directory
    name: awx-project-dir
{% endif %}
{% if custom_venv_dir is defined %}
  - hostPath:
    path: "{{ custom_venv_dir }}"
      type: Directory
    name: awx-custom-venv-dir
{% endif %}
{% if ca_trust_dir is defined %}
  - hostPath:
    path: "{{ ca_trust_dir }}"
      type: Directory
    name: awx-ca-trust-dir
{% endif %}
{% if ssl_certificate is defined %} 
  - hostPath:
    path: "{{ ssl_certificate }}"
      type: File
    name: awx-ssl_certificate
  - "{{ ssl_certificate +':/etc/nginx/awxweb.pem:ro' }}"
{% endif %}
{% if ssl_certificate_key is defined %}
  - hostPath:
    path: "{{ ssl_certificate_key }}"
      type: File
    name: awx-ssl_certificate_key
  - "{{ ssl_certificate_key +':/etc/nginx/awxweb_key.pem:ro' }}"
{% endif %}
status: {}

# vim: tabstop=4 expandtab shiftwidth=2 softtabstop=2
