# Generation of Kubernetes YAML is still under development!
#
# Save the output of this file and use kubectl create -f to import
# it into Kubernetes.
#
# Created with podman-1.6.4
apiVersion: v1
kind: Pod
metadata:
  labels:
    app: awx-pod
  name: awx-pod
spec:
  containers:
  - command:
    - postgres
    name: awxpostgres
    image: docker.io/library/postgres:10
    env:
    - name: HOSTNAME
      value: awx-pod
    - name: PG_MAJOR
      value: "10"
    - name: POSTGRES_USER
      value: awx
    - name: POSTGRES_DB
      value: awx
    - name: http_proxy
    - name: no_proxy
    - name: https_proxy
    - name: PGDATA
      value: /var/lib/postgresql/data
    - name: POSTGRES_PASSWORD
      value: awxpass
    resources: {}
    securityContext:
      allowPrivilegeEscalation: true
      capabilities: {}
      privileged: false
      readOnlyRootFilesystem: false
    volumeMounts:
    - mountPath: /var/lib/postgresql/data
      name: root-.awx-pgcontainer-10-data
    workingDir: /
  - command:
    - redis-server
    name: awxredis
    image: docker.io/library/redis:latest
    env:
    - name: HOSTNAME
      value: awx-pod
    - name: no_proxy
    - name: http_proxy
    - name: https_proxy
    resources: {}
    securityContext:
      allowPrivilegeEscalation: true
      capabilities: {}
      privileged: false
      readOnlyRootFilesystem: false
    volumeMounts:
    - mountPath: /usr/local/etc/redis/redis.conf
      name: root-.awx-awxcompose-redis.conf
      readOnly: true
    - mountPath: /var/run/redis
      name: root-.awx-awxcompose-redis_socket
    workingDir: /data
  - command:
    - /usr/bin/launch_awx_task.sh
    name: awxtask
    image: docker.io/ansible/awx:15.0.1
    env:
    - name: HOSTNAME
      value: awx
    - name: HOME
      value: /var/lib/awx
    - name: https_proxy
    - name: no_proxy
    - name: SUPERVISOR_WEB_CONFIG_PATH
      value: /etc/supervisord.conf
    - name: LANG
      value: en_US.UTF-8
    - name: http_proxy
    resources: {}
    securityContext:
      allowPrivilegeEscalation: true
      capabilities: {}
      privileged: false
      readOnlyRootFilesystem: false
      runAsUser: 0
    volumeMounts:
    - mountPath: /etc/tower/SECRET_KEY
      name: root-.awx-awxcompose-SECRET_KEY
    - mountPath: /etc/tower/conf.d/environment.sh
      name: root-.awx-awxcompose-environment.sh
    - mountPath: /etc/tower/conf.d/credentials.py
      name: root-.awx-awxcompose-credentials.py
    - mountPath: /var/run/redis
      name: root-.awx-awxcompose-redis_socket
    workingDir: /
  - command:
    - /bin/sh
    - -c
    - /usr/bin/launch_awx.sh
    name: awxweb
    image: {{ awx_docker_actual_image }}
    env:
    - name: HOSTNAME
      value: {{ awx_web_hosename }}
    - name: HOME
      value: /var/lib/awx
    - name: http_proxy
    - name: https_proxy
    - name: no_proxy
    resources: {}
    securityContext:
      allowPrivilegeEscalation: true
      capabilities: {}
      privileged: false
      readOnlyRootFilesystem: false
      runAsUser: 0
    volumeMounts:
    - mountPath: /etc/nginx/nginx.conf
      name: root-.awx-awxcompose-nginx.conf
      readOnly: true
    - mountPath: /var/run/redis
      name: awx-awxcompose-redis_socket
    - mountPath: /etc/tower/SECRET_KEY
      name: awx-awxcompose-SECRET_KEY
    - mountPath: /etc/tower/conf.d/environment.sh
      name: awx-awxcompose-environment.sh
    - mountPath: /etc/tower/conf.d/credentials.py
      name: awx-awxcompose-credentials.py
{% if project_data_dir is defined %}
    - mountPath: /var/lib/awx/projects
      name: awx-project-dir
{% endif %}
    workingDir: /
  volumes:
  - hostPath:
      path: /{{ docker_compose_dir }}root/.awx/pgcontainer/10/data
      type: Directory
    name: awx-pgcontainer-10-data
  - hostPath:
      path: /root/.awx/awxcompose/redis.conf
      type: File
    name: awx-awxcompose-redis.conf
  - hostPath:
      path: /root/.awx/awxcompose/redis_socket
      type: Directory
    name: awx-awxcompose-redis_socket
  - hostPath:
      path: "{{ docker_compose_dir }}/.awx/awxcompose/SECRET_KEY"
      type: File
    name: awx-awxcompose-SECRET_KEY
  - hostPath:
      path: /root/.awx/awxcompose/environment.sh
      type: File
    name: root-.awx-awxcompose-environment.sh
  - hostPath:
      path: /root/.awx/awxcompose/credentials.py
      type: File
    name: root-.awx-awxcompose-credentials.py
  - hostPath:
      path: /root/.awx/awxcompose/nginx.conf
      type: File
    name: root-.awx-awxcompose-nginx.conf
{% if project_data_dir is defined %}
  - hostPath:
      path: "{{ project_data_dir }'/var/lib/awx/projects:rw' }}"
      type: Directory
    name: awx-project-dir



{% endif %}
{% if custom_venv_dir is defined %}
- "{{ custom_venv_dir +':'+ custom_venv_dir +':rw' }}"
{% endif %}
{% if ca_trust_dir is defined %}
- "{{ ca_trust_dir +':/etc/pki/ca-trust/source/anchors:ro' }}"
{% endif %}
{% if (ssl_certificate is defined) and (ssl_certificate_key is defined) %}
- "{{ ssl_certificate +':/etc/nginx/awxweb.pem:ro' }}"
- "{{ ssl_certificate_key +':/etc/nginx/awxweb_key.pem:ro' }}"
{% elif (ssl_certificate is defined) and (ssl_certificate_key is not defined) %}
- "{{ ssl_certificate +':/etc/nginx/awxweb.pem:ro' }}"
{% endif %}
status: {}

# vim: tabstop=4 expandtab shiftwidth=2 softtabstop=2
